
    <div class=" mt-4 small">
        <p><a href="" class="p-0"><h6>Home</h6></a></p>
        <hr class="my-2"/>
        <p><a href="/login" class="p-0"><h6>login</a></h6></p>
        <hr class="my-2"/>
        <p><a href="signup" class="p-0"><h6>signup</a></h6></p>
        <hr class="my-2"/>
        <p><a href="" class="p-0"><h6>FAQs</a></h6></p>
        <hr class="my-2"/>
    </div>
