<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head.ejs %>
</head>
<body class="w-100">
         <div class="container my-4 p-4">
<form action="/logout" method='POST'>
<button type="submit" > loggOut</button>
</form>
                    <div>
                        <div>
<% include partials/form %>
                        </div>
                    </div>
                </div>
           
</html>

