        <!DOCTYPE html>
        <html lang="en">
        <head>
        <% include partials/head.ejs %>
        </head>
        <body class="w-100">
            <div class="">
                <% include partials/navbar %>
                
            </div>
        
        </body>
        </html>

