<!DOCTYPE html>
<html lang="en">
    {{head}}
   <body>
       <div>
           <form method="POST" action="/login">
               <input type="text" name='username' placeholder="Enter User Name"  class="form-control"/>
               <input type="password" name='password' placeholder='enter password' class="form-control"/>
               <input type="submit" class="form-control w-25 btn mx-auto btn-primary"/>
           </form>
       </div>
       {{./footer}}
   </body>
</html>